@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
:root{
    --base:rgb(243, 62, 116);
}
.loc{
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
}
.filterlables{
    display:flex;
    align-items:center;

}
.filterlables.darkTheme{
    color:white;
}
.datePickerLabel{
    color:white;
}